<html>
    <body>
        <a href="/new">Create a new message</a>
        <% messages.map(message => { %>
            <div>
                <p><strong><%= message.user %>:</strong> <%= message.text %></p>
                <p><small>Added on <%= message.added.toDateString() %></small></p>
                <a href="/<%= message.user %>">Open</a>
            </div>
        <% }); %>
    </body>
</html>