<html lang="en">
  <body>
    <a href="/">Home</a>
    <h2>Message</h2>
    <h4><strong>Author: <%= message.username %></strong></h4>
    <p><%= message.text %></p>
    <p id="date-added">Date Added: <%= message.added %></p>
  </body>
</html>